.landing_Sup {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: rgb(137,35,210);
    background: linear-gradient(138deg, rgba(137,35,210,1) 13%, rgba(199,13,215,1) 37%, rgba(241,255,0,0.9026961126247374) 92%);
}


.landing_image_div {
    display: flex;
}

.landing_img {
    position: relative;
    width: fit-content;
    height: 75%;
    margin: auto;
    left: 10%;
    margin-left: auto;
}

.landing_text_div {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 4em;
    max-width: 30vw;
    height: 75%;
    z-index: 999;
}

/* .landing_text_div_homeButton {
    position:relative;
    right: 3em;
    margin-top: 3em;
    background: rgb(210,35,50);
    background: linear-gradient(138deg, rgba(210,35,50,1) 13%, rgba(255,81,0,1) 40%, rgba(241,255,0,0.9026961126247374) 92%);
    border-radius: 1em;
    width: 20%;
    height: 8vh;
    border: 0px solid rgb(176, 27, 27);
    box-shadow: 4px 5px 10px -3px rgb(254, 207, 0);
    animation: fireButton 2s infinite;
}
.landing_text_div_homeButton:hover {
    box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.64); 
} */

.landing_text_div_homeButton {
    position:absolute;
    left: 100px;
    bottom: 16%;
    font-size: 24px;
    width: 150px;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255,205,0);
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255,205,0);
    font-weight: 700;
    transition: 0.6s;
}
  
  .landing_text_div_homeButton:hover {
    background-color: rgb(255,205,0); 
    text-decoration: none; 
    color: #ff0000; 
    font-weight: 700;
    box-shadow: 0 2px #ff0000;
    transform: translateY(4px);
}


@keyframes fireButton {
    0%{
        background: linear-gradient(138deg, rgba(210,35,50,1) 13%, rgba(255,81,0,1) 40%, rgba(241,255,0,0.9026961126247374) 92%);
    }
    50%{
        background: linear-gradient(138deg, rgba(241,255,0,0.9026961126247374) 3%, rgba(255,81,0,1) 51%, rgba(210,35,50,1) 90%);
    }
    100%{
        background: linear-gradient(138deg, rgba(210,35,50,1) 13%, rgba(255,81,0,1) 40%, rgba(241,255,0,0.9026961126247374) 92%);

    }
}


.landing_p_div {
    position: relative;
    margin-left: 0.9em;
    font-size: 1.25em;
    max-width: 70%;
    background: none;
}

.landing_p_div svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.landing_p_div rect{
    width: 100%;
    height: 100%;
    stroke: rgb(255,205,0);
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: 2s ease-in-out all;
}

.landing_p_div:hover rect{
    stroke-dashoffset: 0;
}


.landing_h1 {
    position: relative;
    color: rgb(255,205,0);
    margin-top: 1em;
    font-size: 2.5em;
    position: relative;
    width: fit-content;
}


.ashPokemons {
    position:absolute;
    top: 0%;
    right: 0%;
    z-index: 997;
}

.fireGif {
    position:absolute;
    overflow: hidden;
    width: 600px;
    z-index: 998;
    right: 0%;
    bottom: 0%;
}