.detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    place-content: center;
    justify-content: center;
    align-items: center;
    background-color: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 70vw;
    z-index: 2;
}

.flex {
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexcolum{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.gif {
    max-width: 20rem;
}

.span{
    display: block;
    letter-spacing: 5px;
    color: #fff;
    border-top: 1px solid #fff;
}

.imageDetailLeft{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 5%;
    transform: scaleX(-1);
    width: 35rem;
    max-height: 90vh;
}

.imageDetailRight{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 5%;
    width: 35rem;
    max-height: 90vh;
    transition: 0.2s ease-in-out;

}

.id{
    position: absolute;
    top: 10%;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

@media (max-width: 1100px){
    .imageDetailRight{
        opacity: 0;
    }
}