.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.flexContainer fieldset{
    border-radius: 1.25rem;
}

.legend {
    font-weight:500;
    border-radius: 1.25rem;
}

.select {
    width: 8rem;
    padding-left: 0.625rem;
    background-color: var(--navbar-dark-mode);
    color: #fff;
    text-align: left;
    cursor: pointer;
    letter-spacing: 0.0725rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid label {
    width: 4rem;
    cursor: pointer;
    padding: 1px 10px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 30px;
    font-size: 16px;
    transition: 0.5s;
    user-select: none;
}

.grid input[type="radio"]{
    display: none;
}

.input{
    display: flex; 
    justify-content: center;
    margin: 0.0625rem 0.625rem;
}

.grid input[type="radio"]:checked + label{
    box-shadow: 0 0 10px 1px #fff;
}

.input label {
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.btn {
    width: 100%;
    margin-top: 7px;
}

.legend {
    font-weight:500;
    color: #fff;
}