.input {
    display: flex; 
    justify-content: space-between;
    margin-top: 1px;
    background-clip: red;
}

.form {
    display:flex;
    flex-direction:column;
    width: 400px; 
    margin: auto;
}

.legend {
    font-weight:500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.span {
    font-weight:bold;
    width: 100%; 
    display: flex;
    justify-content: flex-end;
}

.error {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    color: red;
    font-size: 12px;
  }